*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
button {
    all: unset;
    cursor: pointer;
}


body {
    font-family: 'DM Sans';
    background: #2F1893;
}

.container-fluid {
    /* max-width: 1400px;
    width: 100%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 972px;
    display: flex;
}

.navbar {
    width: 100%;
    color: #fff;
    margin: 65px 0px 65px 0px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: -0.2926828861236572px;
    text-align: center;

}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
}

.navbar a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}


.btn-purchase {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border-radius: 100px;
    background: #E93A7D;
}

.btn-learn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
    height: 50px;
    border-radius: 100px;
    background: #E93A7D;
}

.opacity3 {
    opacity: 0.3;
}

.signup-section {
    margin-bottom: 65px;
}

.content-section {
    width: 50%;
    position: relative;
}

.content-container {
    width: 100%;
    color: #fff;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-container h1 {
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    text-align: left;
}

.content-container p {
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    width: 360px;
    margin: 20px 0px 40px 0px;
}

.form-section {
    width: 50%;
    max-width: 470px;
    height: 600px;
    background-color: #fff;
    border-radius: 5px;
}

.form-wrapper {
    width: 328px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-wrapper>h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.4000000059604645px;
    text-align: center;
    color: #1E0E62;
    margin: 30px 0px 30px 0px;
}

.form-wrapper>p {
    font-size: 0.875rem;
    font-weight: 500;
    color: #EBEAED;
    margin-bottom: 2rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.form-group label {
    font-size: 0.9375rem;
    font-weight: 600;
    color: #16164d;
}

.form-group input {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: #000000;
    padding: 0.5rem;
    border: 1px solid #EBEAED;
    border-radius: 100px;
    width: 330px;
    height: 50px;
    padding-left: 24px;
}

::placeholder {
    color: #15143966;
    opacity: 1;
}

.form-group input:focus {
    border: 1px solid #16164d;
}

.terms {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.checkbox-wrapper [type=checkbox].checkbox {
    margin: 0;
    width: 0;
    height: 0;
    display: inline;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox-wrapper [type=checkbox].checkbox+label:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    margin-right: 0.6em;
    color: rgba(0, 0, 0, 0.275);
    border: solid 0.06em #25dac5;
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="%231E0E62"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>') no-repeat center, white;

    background-size: 0;
}

.checkbox-wrapper [type=checkbox].checkbox:checked+label:before {
    background-color: #25dac5;
    background-size: 0.75em;
    color: rgba(0, 0, 0, 0.075);
}

.checkbox-wrapper [type=checkbox].checkbox:checked:enabled:active+label:before,
.checkbox-wrapper [type=checkbox].checkbox:checked:enabled+label:active:before {
    background-color: #25dac5;
    color: rgba(0, 0, 0, 0.275);
}

.checkbox-wrapper [type=checkbox].checkbox:disabled+label:before {
    opacity: 0.5;
}

.checkbox-wrapper [type=checkbox].checkbox+label {
    color: #15143966;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}


.login-btn,
.twitter-signin {
    width: 330px;
    height: 50px;
    border-radius: 100px;
    font-weight: 500;
}

.login-btn {
    color: white;
    background: #482BE7;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 16px;
}

.login-btn:hover {
    opacity: 0.9;
}


.or-divider p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}

.or-divider {
    width: 100%;
    font-weight: 600;
    color: #EBEAED;
    margin-block: 1.5rem;
    text-align: center;
    position: relative;
}

.or-divider::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 45%;
    background-color: #EBEAED;
}

.or-divider::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: 2px;
    width: 45%;
    background-color: #EBEAED;
}

.twitter-signin {
    background: #1DA1F2;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 24px;
}

.twitter-signin:hover {
    opacity: 0.9;
}

.account p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: #15143966;
}

.account a {
    color: #25DAC5;
    padding-left: 10px;

}

@media screen and (max-width: 767px) {
    .container-fluid {
        padding: 10px;
    }

    .container {
        width: 100%;
        flex-direction: column;
        margin-inline: 0;
    }

    .menu-items {
        display: none;
    }

    .navbar {
        margin: 0px 0px 0px 0px;
    }

    .content-section,
    .form-section {
        width: 100%;
    }

    .content-section {
        height: 40vh;
    }


    .content-container h1 {
        font-size: 24px;
        line-height: 0px;
        letter-spacing: 0px;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }


    .content-container p {
        font-size: 15px;
        margin: 20px 0px 20px 0px;
    }

    .form-section {
        flex: 1;
        padding: 1rem 1rem;
    }

    .logo-container {
        margin-bottom: 1rem;
    }

    .form-wrapper>h2 {
        font-size: 1.25rem;
    }

    .form-wrapper>p {
        margin-bottom: 1rem;
    }

    .form-wrapper button {
        font-size: 0.875rem;
    }

    .or-divider {
        font-weight: 500;
        margin-block: 0.6rem;
    }
}